body {
  height: 100%;
}

.main-contain {
  height: 100%;
}

.container .card-timetable div {
  background-color: #FFFFFF;
}

.float-right{
  float: right;
}

.album {
  min-height: 50rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.content {
  height: 100%;
}

.notice {
  background: transparent;
}

.alert {
  background: transparent;
}

.btn-jumbo{
  margin-right: 5px;
  margin-left: 5px;
}

.no-margin-row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.navbar {
  font-family: 'Ubuntu', serif;
  border-radius: 0px;
}

.navbar-brand {
  font-family: 'Ubuntu', serif;
}

.blog-link {
  position: absolute;
  bottom: 0.2em;
  right: 0.2em;
}

.gallery-image{
  width: 100%;
  display: block;
}

.practice-description {
 min-height: 120px; 
}