---
layout: default
title: Swansea Kendo Club - Kendo in Swansea, South Wales
---
<div class="album py-5 bg-light">
  <div class="container">
    <h1 class="fw-light text-center text-lg-start mt-4 mb-0">Thumbnail Gallery</h1>
    <hr class="mt-2 mb-5">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for image in site.static_files %}
        {% if image.path contains '/assets/gallery/' %}
        <div class="col">
          <img src="{{ image.path }}" class="img-fluid rounded" alt="{{ image.basename }}">
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
  
